button {
    cursor: pointer;
}

.button {
    color: #fff;
    font-size: 1em;    
    border-radius: 30px;
    font-weight: bold;
}

.content {
    width: 100%;
}

.my-table {
    width: 100%;
}

.my-header-cell {
    text-align: center;
}

.my-cell {
    text-align: left;
}