<h1 mat-dialog-title><strong>{{ action }}</strong></h1>

<div mat-dialog-content class="my-content-dialog">
  <mat-form-field *ngIf="action != 'Excluir'; else elseTemplate">
    <input placeholder="{{action}} Competência" matInput [(ngModel)]="localData.skill">
  </mat-form-field>

  <ng-container *ngIf="action != 'Excluir'">
    <app-star-rating name="rate" [(ngModel)]="localData.rate" [rating]="rating" [starCount]="starCount" (ratingUpdated)="onRatingChanged($event)" ngDefaultControl></app-star-rating>
  </ng-container>

  <ng-template #elseTemplate>
    Tem certeza que deseja excluir <b>{{ localData.skill }}</b>?
  </ng-template>
</div>

<div mat-dialog-actions class="mt20 my-button-dialog">
  <button mat-button (click)="doAction()">{{ action }}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancelar</button>
</div>